.containerFilme {
  background-color: darkgray;
  width: 300px;
  margin: 10px 4px;
}

.posterContainer {
  height: 445px;
}

.notFound {
  display: flex;
  flex-direction: column;
  height: 445px;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
}

.tooltip {
  text-align: center;
  min-width: 300px;
}
