.FilmeDetalhe {
  word-break: break-word;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 20px;
}

.Ano {
  font-size: 0.6em;
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.bloco {
  text-align: left;
}

.destaque {
  font-size: 1.1em;
  font-weight: 700;
}

.blocoSinopse {
  font-size: 1.2em;
}

.titleBar {
  font-size: 1.3em;
  text-align: center;
  background-color: #ddd;
  padding: 7px;
  border-radius: 5px;
  line-height: 1.2;
}

h1.titleBar {
  font-size: 1.8em;
}

.notFound {
  display: flex;
  flex-direction: column;
  height: 445px;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  background-color: darkgray;
}
